[submodule "repos/peft"]
	path = repos/peft
	url = https://github.com/sterlind/peft
[submodule "repos/GPTQ-for-LLaMa"]
	path = repos/GPTQ-for-LLaMa
	url = https://github.com/sterlind/GPTQ-for-LLaMa.git
	branch = lora_4bit
