torch
accelerate
bitsandbytes
datasets
sentencepiece
safetensors
einops
colorama
peft @ git+https://github.com/huggingface/peft.git@70af02a2bca5a63921790036b2c9430edf4037e2
transformers @ git+https://github.com/huggingface/transformers.git
gptq_llama @ git+https://github.com/sterlind/GPTQ-for-LLaMa.git@lora_4bit